<a href="https://colab.research.google.com/github/tanuj-patil-15/Python/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Using this notebook to revise python basics

In [ ]:
# Take two numbers n and i from the user as an input where you have to find all factors of number n and return ith factor.

In [ ]:
def factor(n,i):
  for x in range (1,n):
    if ((n%x)==0):
      i = i - 1
      if (i == 0):
        return x

In [ ]:
def factor(n,i):
  factor_list = []

  for x in range (1,int(n ** (1/2)) + 1):
    if((n%x) == 0):
      factor_list.append(x)
      if not x == int(n/x):
        factor_list.append(int(n/x))

  factor_list.sort()



  return factor_list[i - 1]

In [ ]:
factor(100,4)

5

# Basic Syntax

In [ ]:
print("String"*5)

StringStringStringStringString

In [ ]:
a = 57

b = c = d = 3

x, y, z = 1, 2, 3

In [ ]:
help("keywords")
# do not use them as variable

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
max(1,5)

5

In [ ]:
max = 7

In [ ]:
max(1,5)

TypeError: 'int' object is not callable

In [ ]:
a = 25
if a == 27: # indentation
  print("a is 27")

In [ ]:
print(' a  = b')

In [ ]:
print('Aaron said "He is sick".')

In [ ]:
print(''' Hii
this can be used to write paragraphs''')

In [ ]:
# this is a single line comment

''' this is a multi line
 comment'''

# Standard Data types

In [ ]:
a = 'String'
type(a)

In [ ]:
b = 5
c = 4.0

print("type of b is", type(b), "type of c is", type(c))

In [ ]:
e =[1, 4.0, "abc"]
print(type(e))
print(e)

In [ ]:
f = (1, 2, 3, 4)
print(type(f), f)

In [ ]:
g = (1, )
print(type(g), g)

In [ ]:
h = {1:1,2:2,3:3} # key is immutable but values can be mutable
#  list and dictionary cant be keys because they are mutable

### Data type conversions

In [ ]:
b = 5
c = 4.0

int(c)

In [ ]:
inp = input("Enter a number between 10 to 20: ")

In [ ]:
type(inp)

In [ ]:
inp ** 2 # inp is string

In [ ]:
inp = int(inp)
inp ** 2

In [ ]:
list_1 = [1, 4.0, "abc"]
tuple(list_1)

In [ ]:
print(a)

In [ ]:
list(a)

In [ ]:
tuple(a)

In [ ]:
import math
max(math.ceil(abs(round(math.sqrt(3477),2))),10)

# Basic Operators

- +
- -
- *
- /
- //
- %
- **

In [ ]:
25 // 5

In [ ]:
print(26 // 5)
print(26/5)

In [ ]:
26 % 5

In [ ]:
16 ** (1/2)

### Comparison/Relational Operators

- '=='
- '!='
- '>'
- '<'
- '>='
- '<='

### Assignment operators

- =
- +=
- -=
- *=
- /=
- //=
- %=

### Logical Operators

- and
- or
- not

### Bitwise Operators

- & Bitwise And
- | Bitwise Or
- ~ Bitwise Not
- ^ Bitwise Xor

In [ ]:
10 & 4

In [ ]:
10 | 4

### Membership Operators

- in
- not in

In [ ]:
nums = [1, 2, 3, 4]
for i in range(len(nums)): # this loop is in python
  if nums[i] == 3:
    print("Number Exists")

In [ ]:
if 3 in nums: # this loop could be more optimized hence could be faster...
  print("number exists")

### Identity operators

- is
- is not

In [ ]:
a = 5
print(a==5)

In [ ]:
print(a is 5)

In [ ]:
type(a) is int

In [ ]:
type(a) == int

# if-else

In [ ]:
a = "python"

if a == "python":
  print("Matched")
else:
  print("Not Matched")

Matched

```
if stock price is smaller than 60: But 1000 stocks
if stock price is smaller than 70 but greater than 60: But 500 stocks
if stock price is greater than 70 but smaller than 100: But 100 stocks
if stock price is greater than 100: sell all existing stocks


Assume that we two function. Buy(stock_quantity), and sell(quanity) already defined

def buy(stock_numbers):
    print(f"bought {stock_numbers} stocks")

def sell(stock_numbers):
    print(f"Sold {stock_numbers} stocks")

```

In [ ]:
def buy(stock_numbers):
    print(f"bought {stock_numbers} stocks")

def sell(stock_numbers):
    print(f"Sold {stock_numbers} stocks")

In [ ]:
price = float(input("Enter price of stock "))

if price < 60:
  buy(1000)
elif price > 60 and price < 70:
  buy(500)
elif price > 70 and price < 100:
  buy(500)
else:
  sell(1)

Enter price of stock 110
Sold 1 stocks

*E-commerce Shipping:*

An e-commerce platform offers different shipping rates based on the total cost of items in the cart and the customer's membership status. Write a program that:

- Takes the total purchase amount, customer's membership status (Regular, Premium, VIP), and whether it's a holiday.

- Regular customers get free shipping on holidays for purchases over \$50, otherwise, shipping is \$10.

- Premium customers always get free shipping for purchases over \$30, and \$5 shipping if below. On holidays, they also get an additional \$5 off their total bill.

- VIP customers always get free shipping and a 10% discount on their total bill. On holidays, they get an additional 5% off.
Calculate and display the final amount including shipping.

In [ ]:
amount = float(input("Total purchase amount "))
membership_status = input("Enter R for regular membership /n Enter P for Premeium membership /n Enter V for VIP membership ")
isHoliday = bool(int(input("Enter 1 for holiday an 0 otherwise ")))

print(isHoliday)
print(membership_status)

if isHoliday:
  if membership_status == "R":
    print("Regular Holiday")
    if amount > 50:
      total_amount = amount
    else:
      total_amount = amount + 10

  elif membership_status == "P":

    if amount > 30:
      total_amount = amount - 5
    else:
      total_amount = amount

  elif membership_status == "V":
      total_amount = amount * 0.85
else:
  if membership_status == "R":
      print("Regular Not Holiday")
      total_amount = amount + 10

  elif membership_status == "P":
    if amount > 30:
      total_amount = amount
    else:
      total_amount = amount + 5

  elif membership_status == "V":
      total_amount = amount * 0.9


print("Total amount is : ",total_amount)

KeyboardInterrupt: Interrupted by user

2. *University Application:*
   A university has a program that automatically decides whether an applicant is accepted, waitlisted, or rejected based on their GPA, SAT score, and extracurricular activities count. The conditions are:
   - Accepted: GPA > 3.5, SAT > 1400, and more than 3 extracurriculars.
   - Waitlisted: GPA > 3.3, SAT > 1300, and 1-3 extracurriculars.
   - Rejected: Everything else.
   
   If the applicant has a GPA > 3.9 and SAT > 1500, they are automatically accepted regardless of extracurriculars.

6. *Tax Calculator:*
   Depending on the income and age of a person, different tax rates are applied. Write a program that:

    - Takes an individual's annual income, age, and whether they have any dependents.
    - Individuals under 18 years pay no tax.
    - Individuals between 18-65:
        - Income up to $30,000: 10% tax
        - Income $30,001 to $100,000: 20% tax
        - Income over $100,000: 30% tax
        - If the individual has dependents, reduce the total tax by 5%.
    - Individuals over 65:
        - Income up to $30,000: 5% tax
        - Income $30,001 to $100,000: 15% tax
        - Income over $100,000: 25% tax
        - If the individual has dependents, reduce the total tax by 3%.
        
    Calculate and display the total tax.

In [ ]:
age = int(input('Enter Age :'))
income = float(input('Enter income: '))
dependants = bool(int(input('Enter 1 if you have dependants else 0 : ')))

if age < 18:
  print('No tax ')
elif age >= 18 and age <65:
  if income <= 30000:
    tax = income * 0.1
  elif income > 30000 and income <= 100000:
    tax = income * 0.2
  else:
    tax = income * 0.3

  if dependants:
    tax = 0.95 * tax

elif age >= 65:
  if income <= 30000:
    tax = income * 0.05
  elif income > 30000 and income <= 100000:
    tax = income * 0.15
  else:
    tax = income * 0.25

  if dependants:
    tax = 0.97 * tax

print (tax)

*E-commerce Shipping:*
   An e-commerce platform calculates shipping fees based on the destination (Local, National, International), the weight of the package, and whether the customer is a premium member. The base costs are:
   - Local: \$5
   - National: \$10
   - International: \$20
   
   Weight Surcharge:
   - If the weight is greater than 5kg, there is an additional charge of $10 for Local and National, and \$20 for International.
   
   Premium Members:
   - Get free Local shipping.
   - Get a 50% discount on National and International.

   Write a program to calculate the final shipping fee for a given order.

In [ ]:
location = input('Enter L for Local, N for national and I for International : ')

if location != 'L' or location != 'N' or location != 'I':
  print('wrong input')

weight = int(input('Enter weight : '))
isPremium = bool(int(input('Enter 1 for premium member else 0 : ')))

if location == 'L':
  shipping = 5
elif location == 'N':
  shipping = 10
elif location == 'I':
  shipping = 20

if weight > 5:
  if location == 'I':
    shipping = shipping + 20
  else:
    shipping = shipping + 10

if isPremium:
  if location == 'L':
    shipping = 0
  else:
    shipping = shipping * 0.5

print(shipping)

*University Admissions:*

A university considers both an applicant's GPA (0-4 scale) and their SAT score when admitting students. Write a program that:

- Takes a student's GPA, SAT score, and whether they have a scholarship recommendation.
- Students with a GPA above 3.5 and an SAT score over 1500 are admitted.
- Students with a GPA between 3.0 and 3.5 and an SAT score over 1350 are also admitted, but only if they have a scholarship recommendation.
- All other students are not admitted.
- Display the admission decision for the student.

In [ ]:
GPA = float(input('Enter GPA '))
SAT = int(input('Enter SAT score '))

scholarship = bool(int(input('Enter 1 if student has scholarship recommendation else enter 0 ')))
admitted = False

if GPA >= 3.5 and SAT > 1500:
  admitted = True
elif GPA >= 3.0 and GPA < 3.5 and scholarship:
  admitted = True

print(admitted)

1. *Flight Booking:*
   A flight booking system requires a program that takes into account the age of the passenger, the class of the ticket (Economy, Business, First Class), and the day of the week. The ticket price varies as:
   - Economy: \$100 (weekday), \$120 (weekend)
   - Business: \$200 (weekday), \$250 (weekend)
   - First Class: \$500 (weekday), \$600 (weekend)
   
   However:
   - Children (0-12) get a 50% discount, regardless of the class.
   - Seniors (60+) get a 30% discount, but only in Economy and Business classes.
   
   Write a program to determine the ticket price based on these conditions.

In [ ]:
age = int(input("Enter age: "))
guestClass = input("eneter E for Economy , B for Buisness and F for First: ")
weekend = bool(int(input("Enter 1 for weekend and 0 for weekday: ")))

if guestClass == "E":
  if weekend:
    cost = 120
  else:
    cost = 100
elif guestClass == "B":
  if weekend:
    cost = 250
  else:
    cost = 200
elif guestClass == "F":
  if weekend:
    cost = 600
  else:
    cost = 500

if age >= 0 and age <= 12:
  cost = cost/2
elif age > 60:
  cost = cost * 0.7

print("Cost of ticket is: ", cost)

2. *University Application:*
   A university has a program that automatically decides whether an applicant is accepted, waitlisted, or rejected based on their GPA, SAT score, and extracurricular activities count. The conditions are:
   - Accepted: GPA > 3.5, SAT > 1400, and more than 3 extracurriculars.
   - Waitlisted: GPA > 3.3, SAT > 1300, and 1-3 extracurriculars.
   - Rejected: Everything else.
   
   If the applicant has a GPA > 3.9 and SAT > 1500, they are automatically accepted regardless of extracurriculars.

### done above

3. *Bank Loan Approval:*
   A bank offers loans to customers based on their salary, years of employment, and existing debts. The bank's conditions are:
   - Loan Approved: Salary > \$50000, employed for more than 5 years, and no existing debts.
   
   However:
   - If the person has a salary > \$80000, they're approved even if they have been employed for 2-5 years, but only if they have no debts.
   - If the person has a salary < \$30000, they're automatically rejected regardless of other conditions.

In [ ]:
salary = int(input("Enter salary in digits: "))
yearsEmployed = int(input("Enter how many years have you been employed: "))
debt = bool(int(input('enter 1 if debts else 0: ')))



if salary < 30000:
  approved = False
elif salary >= 50000 and yearsEmployed >= 5 and not debt:
  approved = True
elif salary >= 80000 and yearsEmployed >= 2 and not debt:
  approved = True







if approved:
  print("Loan approved")
else:
  print("Loan not approved")

5. *Temperature Alert System:*
   A system monitors the temperature and humidity of a room. It will raise alerts based on the following conditions:
   - If the temperature is above 30°C and humidity is above 70%, raise a "High Temperature & Humidity" alert.
   - If the temperature is above 30°C but humidity is below 50%, raise a "High Temperature" alert.
   - If the temperature is below 10°C and humidity is above 80%, raise a "Low Temperature & High Humidity" alert.
   - For any other combination, raise a "Normal" alert.

In [ ]:
temp = int(input("enter temperature: "))
hum = int(input("enter humidity: "))

if temp > 30 and hum > 70:
  print("High Temperature & Humidity")
elif temp > 30 and hum < 50:
  print("High Temperature")
elif temp < 10 and hum > 80:
  print("Low Temperature & High Humidity")
else:
  print("Normal")

# Loops

In [ ]:
a = 5
while a > 1:
  a -= 1
  print(a)

print("\n")
while 1:
  print ("1")
  break

In [ ]:
## for loop
## range object : take 3 values
## range(START, END, STEP)

list(range(4))
list(range(1,11))

In [ ]:
list(range(0,9,3))

In [ ]:
list(range(10,0,-1))

In [ ]:
for i in range(5):
  print(i)

In [ ]:
for i in ["str1","str2"]:
  print(i)

In [ ]:
l = [10,20,30,40]

for ele in l:
  print(ele)

In [ ]:
for i in range(len(l)):
  print(l[i])

In [ ]:
for nums in range(2,12):
  print(nums)

In [ ]:
for nums in range(17,4,-2):
  print(nums)

In [ ]:
l = [12,21,14,36,44]

num = int(input("enter a number: "))

present = False
for nums in l:
  if num == nums:
    present = True
    break

if present:
  print("Number is present in the list")
else:
  print("Number is not present in the list")

In [ ]:
l = [12,21,14,36,44]

num = int(input("enter a number: "))

for nums in l:
  if num == nums:
    print("Number is present in the list")
    break # if break is encoutered it wont execute the else block
else:
  print("not present")

In [ ]:
l.index(14)

In [ ]:
l = [12,21,14,36,44]

num = int(input("enter a number: "))

for nums in l:
  if num == nums:
    print("Number is present in the list at index",l.index(num),".")
    break # if break is encoutered it wont execute the else block
else:
  print("not present")

In [ ]:
l = [12,21,14,36,44]

num = int(input("enter a number: "))

if num in l:
  print("Number is present in the list at index",l.index(num),".")
else:
  print("not present")

In [ ]:
l1 = [2,3,5,7,11]
l2 = [1,2,3,4,5]

common = []

for ele in l1:
  if ele in l2:
    common.append(ele)

print(common)

In [ ]:
l = [1,2,3,4]
k = []

for i in l:
  k.append(10 + i)

print(k)

In [ ]:
l = [1,2,3,4]
k = [i + 10 for i in l]

print(k)

In [ ]:
l = [1,2,3,4]
k = [i + 10 for i in l if i > 2]

print(k)

Question 1: Write a Python program that asks the user to enter a number and then prints all the even numbers from 2 to that number using a while loop.

Sample Output:

Enter a number: 7
Even numbers from 2 to 7:
2
4
6

In [ ]:
c = int(input("Enter a positive integer: "))
i = 2;
while(i < c):
  print(i)
  i = i + 1

Question 2: Write a Python program that asks the user to enter a positive integer and then prints the sum of all the integers from 1 to that number using a while loop.

Sample Output:

Enter a positive integer: 5
Sum of integers from 1 to 5: 15

In [ ]:
a = int(input("Enter a positive integer: "))
sum = 0
for i in range(0,a):
  sum = sum + i + 1

print(sum)

Question 3: Write a Python program that prints the first 10 natural numbers (1 to 10) in reverse order using a while loop.

Sample Output:

10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 10
while(i >= 1):
  print(i)
  i = i - 1

Question 4: Write a Python program that asks the user to enter a number and prints whether it is even or odd. Continue asking for numbers until the user enters 0, then stop the program.

Sample Output:

Enter a number (0 to quit): 7
7 is odd.
Enter a number (0 to quit): 4
4 is even.
Enter a number (0 to quit): 0
Program terminated.

In [ ]:
while(1):
  a = int(input("Enter a number (0 to quit): "))
  if(a == 0):
    break
  else:
    if(a%2 == 0):
      print("Even number")
    else:
      print("Odd Number")

Question 5: Write a Python program that prints all the multiples of 7 from 1 to 100 using a while loop.

Sample Output:

7
14
21
28
35
...
91
98

In [ ]:
i = 7
while(i <= 100):
  if(i%7 == 0):
    print(i)
  i = i + 1

Question 6: Write a Python program that calculates and prints the factorial of a number entered by the user using a while loop.

Sample Output:

Enter a number: 5
Factorial of 5 is 120

In [ ]:
a = int(input("Enter an integer: "))
fact = 1
while(a > 1):
  fact = fact * a
  a = a - 1

fact

Question 8.1: Write a Python program that prints all the prime numbers between 1 and 50 using a while loop.

Question 8.2: Later on as an additional question, modify this code to add support for user input. so that it finds the Prime number from 1 to user input.

Question 8.3: Also you can add support for two user inputs so that it finds prime numbers from user input 1 to user input 2.

In [ ]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))

def isPrime(n):
  if(n == 1):
    return False
  i = 2
  while(i < n):
    if(n % i == 0):
      return False
    i = i + 1
  return True


while(b <= a):
  if(isPrime(b)):
    print(b)
  b = b + 1

1Question 9: Write a Python program that calculates and prints the sum of all integers from 1 to 100 that are divisible by 3 using a while loop.

In [ ]:
n = 100
sum = 0
while(n > 1):
  if(n % 3 == 0):
    sum = sum + n
  n = n - 1

sum

Question 10: Write a Python program that calculates and prints the Fibonacci sequence up to a specified number of terms. The user should enter the number of terms they want to generate.

In [ ]:
i = int(input("Enter number of fibo: "))
a = 0
b = 1
c = b

while(i >= 1):
  print(c)
  a = b
  b = c

  c = a + b

  i = i - 1

Enter number of fibo: 5
1
2
3
5
8

Question 11: Calculate the sum of digits of a number given by user. E.g.-
INUPT : 123        OUPUT : 6
INUPT : 12345        OUPUT : 15

In [ ]:
a = int(input("Enter a numb "))
sum = 0
while(a > 9):
  dig = a % 10
  sum = sum + dig
  a = a / 10

Question 12: A three digit number is called Armstrong number if sum of cube of its digit is equal to number itself.
E.g.- 153 is an Armstrong number because (13)+(53)+(33) = 153.
Write all Armstrong numbers between 100 to 500.

Question 13:  Write a program to print a number given by user but digits reversed. E.g.-
INPUT : 123        OUTPUT : 321
INPUT : 12345        OUTPUT : 54321

Question 14:  Write a program to find prime factor of a number.
If a factor of a number is prime number then it is its prime factor.

Question 15: Write a program to print all prime number in between 1 to 100.

In [ ]:
## done above

In [ ]:
### topics : lists, dictionaries and functions

In [ ]:
###Replace every occurrence of Math, Maths, Mathematics, Mathematic, math, maths, mathematics, mathematic with MATH




s = '''



Maths is a subject which is not only applicable in our academics but also in real life. Making kids love this subject is a challenge, especially for parents. It takes a lot of brainpower to master Maths and this can be tough for kids. Some students may find Maths hard to learn. Thus, BYJU’S presents here a simple and easy way for kids and higher class students to learn Maths, interestingly. The Maths basics here, becomes the solver to solve fundamental arithmetic calculations.

Online Maths for free has been brought here for the ease of students so that they can get access to each and every fundamental concept and learn quickly. We have provided Maths learning materials for all the standards (Standard 1 to 12). Also, Maths questions with solutions are given for each concept to help the students understand better. Practice Maths here with the given examples and practice questions for all the Classes from 1 to 12. For better practice, worksheets are also provided by us, so that students can excel in the concepts.

In mapping Maths, we will come across many concepts. The origin or base of Maths is Counting, where we learned to count the objects that are visible to our eye. Mathematics are broadly classified into two groups: Pure Mathematics (number system, geometry, matrix, algebra, combinatorics, topology, calculus) and Applied Mathematics (Engineering, Chemistry, Physics, numerical analysis, etc).

Maths has a lot of formulas based on different concepts. These formulas can be memorized by practising questions based on them. Some problems can be solved quickly, using Maths tricks. Class 1 to 10 has been taught with the general mathematical concepts, but its level increases in Class 11 and 12.

Mathematics is the science and study of quality, structure, space, and change. Mathematicians seek out patterns, formulate new conjectures, and establish truth by rigorous deduction from appropriately chosen axioms and definitions.

There is debate over whether mathematical objects such as numbers and points exist naturally or are human creations. The mathematician Benjamin Peirce called mathematics "the science that draws necessary conclusions". Albert Einstein, on the other hand, stated that "as far as the laws of mathematics refer to reality, they are not certain; and as far as they are certain, they do not refer to reality."

Through abstraction and logical reasoning mathematics evolved from counting, calculation, measurement, and the systematic study of the shapes and motions of physical objects. Practical mathematics has been a human activity for as far back as written records exist. Rigorous arguments first appeared in Greek mathematics, most notably in Euclid's Elements. Mathematics continued to develop, in fitful bursts, until the Renaissance, when mathematical innovations interacted with new scientific discoveries, leading to an acceleration in research that continues to the present day.

Today, mathematics is used throughout the world as an essential tool in many fields, including natural science, engineering, medicine, and the social sciences. Applied mathematics, the branch of mathematics concerned with application of mathematical knowledge to other fields, inspires and makes use of new mathematical discoveries and sometimes leads to the development of entirely new disciplines. Mathematicians also engage in pure mathematics, or mathematics for its own sake, without having any application in mind, although practical applications for what began as pure mathematics are often discovered later.

Mathematics is the study of quantity, pattern, order, structure, and relation. It involves applying logical reasoning and quantitative computation to find solutions to problems. Mathematics includes topics such as numbers, formulas, shapes, and quantities and their changes.
Mathematics has evolved from basic practices such as counting, measuring, and describing the shapes of objects. Mathematicians seek out patterns, formulate new conjectures, and establish truth by rigorous deduction from axioms and definitions.
Mathematics is often considered a hard subject. However, not all difficulties with the subject result from cognitive difficulties.




'''

In [ ]:
def replace_math_terms(text):
    replacements = {"Maths": "MATH", "Mathematics": "MATH", "Mathematic": "MATH","maths": "MATH", "mathematics": "MATH", "mathematic": "MATH","Math": "MATH", "math": "MATH"}

    for key, value in replacements.items():
        text = text.replace(key, value)

    return text


replaced_text = replace_math_terms(s)
print(replaced_text)

In [ ]:
listOne = [1,2,3,4,5,6]

In [ ]:
listOne[4]

In [ ]:
listOne[2:5]

In [ ]:
listOne[2:]

In [ ]:
listOne[:4]

In [ ]:
listOne[1:6:2]

In [ ]:
listOne[::2]

In [ ]:
listOne[::-1]

In [ ]:
# also works for string,tuple,array (anything with indexing)

In [ ]:
listOne[3] = 77
print(listOne)

In [ ]:
listOne

In [ ]:
listOne[-1]

In [ ]:
listOne[-1:-3:-1]

In [ ]:
listOne[-2:]

In [ ]:
listOne[3] = [78,78]

In [ ]:
listOne

In [ ]:
listOne[4:5] = [88,89]

In [ ]:
listOne

In [ ]:
listOne.append(7)

In [ ]:
listOne

In [ ]:
listOne.insert(3,95)

In [ ]:
listOne

In [ ]:
listOne.insert(1000,101)

In [ ]:
listOne

In [ ]:
del listOne[4]
listOne

In [ ]:
listOne.pop()

In [ ]:
len(listOne)

In [ ]:
l1 = [1,2,3,4,5]
l2 = [7,8,9,10,11]

In [ ]:
l1 + l2

In [ ]:
a = ["ele"]*50

In [ ]:
l = [-1, 1, 2, 8, 3, 5, -77, 4, -200, -201, 99, 0, 1, 5, -100, -200]
l = []
minimumInt = 999
indexMin = 999
for i in range(len(l)):
  if(l[i] < minimumInt):
    minimumInt = l[i]
    indexMin = i

indexMin

In [ ]:
l1 = [1,2,3,4,5]
l2 = [7,8,9,10,11,12]

list(zip(l1,l2))

In [ ]:
[(i,j) for i, j in zip(l1,l2)]

In [ ]:
l = [-1, 1, 2, 8, 3, 5, -77, 4, -200, -201, 99, 0, 1, 5, -100, -200]
sorted(l)

In [ ]:
# Sort two list on the basis of first
# Sorting with Zip and List comprehensions
l1 = [5, 4, 1, 3, 0]
l2 = ["str1", "str2", "str3", "str4", "str5"]

l3 = zip(l1,l2)
l3 = sorted(l3)

# l4 = []
# for i in range(len(l3)):
#   l4.append(l3[i][1])

l3 = [item[1] for item in sorted(zip(l1,l2))] # used for loop in List comprehension instead of for loop to append in list


l3

In [ ]:
## more efficiently hint: list Comprehension
## implement bubble sort

In Bubble Sort algorithm,

traverse from left and compare adjacent elements and the higher one is placed at right side.
In this way, the largest element is moved to the rightmost end at first.
This process is then continued to find the second largest and place it and so on until the data is sorted.

In [ ]:
arr  = [7, 2, 4, -5, 1, -9, 21, -7, 9, 11, -45]
arr = sorted(arr)



for i in range(0,len(arr) - 1):
  isSwap = False
  print(arr)
  for j in range(0,len(arr) - i - 1):
    if(arr[j] > arr[j+1]):
      arr[j], arr[j + 1] = arr[j + 1], arr[j]
      isSwap = True
  if not isSwap:
    break

arr

In [ ]:
arr  = [7, 2, 4, -5, 1, -9, 21, -7, 9, 11, -45]

for i in range(1,len(arr)):
  j = i - 1
  key = arr[i]
  while(key < arr[j] and j >= 0):
    arr[j+1] = arr[j]
    j = j - 1
  arr[j + 1] = key



print(arr)

## functions

In [ ]:
def display():
  print("display function")

In [ ]:
display()

display function

In [ ]:
a = display()

display function

In [ ]:
print(a) ## default return value none(null)

None

In [ ]:
def addition(x, y):
  return x + y
  print(x) ## this would not execute

In [ ]:
addition(4,5)

9

### Function arguments

**Required Arguments** they have to passed in correct order and compulsory otherwise you get error

In [ ]:
def minus(a,b):
  return a - b

In [ ]:
minus(3,4)

-1

In [ ]:
minus()

TypeError: minus() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
minus((4,5))

TypeError: minus() missing 1 required positional argument: 'b'

In [ ]:
minus(1,2,3)

TypeError: minus() takes 2 positional arguments but 3 were given

**Keyword Argument**

In [ ]:
minus(a=55, b=67)

-12

In [ ]:
minus(b=67, a=55)

-12

**Default Argument**

it wont throw error if you dont pass value nstead it will assume a pre defined value

In [ ]:
def addition(x, y=55):
  ## if no value for y is passed defaul value 55 will be considered
  return x + y

In [ ]:
addition(1)

56

In [ ]:
addition(5,6)

11

In [ ]:
addition()

TypeError: addition() missing 1 required positional argument: 'x'

In [ ]:
def minus(y=55, a):
  return y - a

SyntaxError: non-default argument follows default argument (<ipython-input-29-da5324242203>, line 1)

**variable length arguments**

**args**

In [ ]:
def display(a, *args):
  ## any name after '*' is know as variable length argument
  ## recommended to use *args(good practice)

  print(a)
  print(args)

In [ ]:
display(5)

5
()

In [ ]:
display(5,6)

5
(6,)

In [ ]:
display(5,6,7,8,9)

5
(6, 7, 8, 9)

In [ ]:
display()

TypeError: display() missing 1 required positional argument: 'a'

**kwargs**

In [ ]:
def display(a, **kwargs):
  print(a)
  print(kwargs)

In [ ]:
display(5)

5
{}

In [ ]:
display(5, c = 10)

5
{'c': 10}

In [ ]:
display(5, c = 1, d=11)

5
{'c': 1, 'd': 11}

In [ ]:
display(5, c=1,d=11,a=8)

TypeError: display() got multiple values for argument 'a'

In [ ]:
def summation(a,b,c,*args,**kwargs):
  # add a,b,c
  # multiply args vals among themselves
  # get the vkwargs values and multiply them
  # return sum of above 3



  d = a + b + c
  e = 1
  for ele in args:
    e = e * ele
  f = 1
  for key in kwargs:
    f = f * kwargs[key]



  if(len(kwargs) == 0 and len(args) == 0):
    return d
  elif(len(args) == 0):
    return d + f
  elif(len(kwargs) == 0):
    return d + e

  return d + e + f

In [ ]:
summation(3,4,5)

12

In [ ]:
summation(3,4,5,10,10,10)

1012

In [ ]:
summation(3,4,5, x=10, y=10, z=10)

1012

## Pass by val, pass by ref, lambda, scope of vars

In [ ]:
def addition(l):
  l.append(57)

In [ ]:
a = [1,2,3,4]

addition(a)

print(a)

[1, 2, 3, 4, 57]

In [ ]:
def minus(t):
  ## assuming that tuple has 4 elements
  t = t[:2]+(56,)+t[2:]
  return t

In [ ]:
b = (1,2,3,4)

In [ ]:
c = 'pass by value'

In [ ]:
c = c[:5]+'57'+c[5:]

In [ ]:
c

'pass 57by value'

In [ ]:
b = b[:2]+(56,)+b[2:]

In [ ]:
b

(1, 2, 56, 3, 4)

In [ ]:
b = (1,2,3,4)
b = minus(b)

In [ ]:
b

(1, 2, 56, 3, 4)

##Lambda

In [ ]:
# syntax of Lambda
# lambda [arg1 [,arg2,.....argn]]:expression

In [ ]:
lam1 = lambda x1: x1 + 10

In [ ]:
lam1(5)

15

In [ ]:
lam2 = lambda x1, x2: x1 + x2

In [ ]:
lam2(5,5)

10

In [ ]:
lam2(7)

TypeError: <lambda>() missing 1 required positional argument: 'x2'

**Global vs local Variables**

In [ ]:
## c is a global variable
c = 57

def fun():
  ## d is a local variable
  d = 2
  print(c,d)

fun()

57 2

In [ ]:
# value of global variable can be accessed inside function but cant be changed
# if variable is not passed or without using global keyword
c = 57

def fun():
  ## d is a local variable
  d = 2
  c += 2
  print(c,d)

fun()

UnboundLocalError: local variable 'c' referenced before assignment

In [ ]:
# using global keyword will let us change value of global variable
# The value of global variable will be changed globally if its changes
# inside function
c = 57

def fun():
  ## d is a local variable
  d = 2
  global c
  c += 2
  print(c,d)

fun()

59 2

In [ ]:
c

59

### Given a list of number find a unique set of duplicate values
random_list = [0, 0, 1, 1, 2, 2, 3, 4, 5] # -> 0, 1, 2

In [ ]:
r = [0, 0, 1, 1, 2, 2, 3, 4, 5]

r = [0,1,2,3,5,1]

# do it with one data structure and one loop

def duplVals(l):
  m = []
  n = []
  for ele in l:
    if(ele not in m):
      m.append(ele)
    else:
      if(ele in n):
        continue
      else:
        n.append(ele)

  return n

def uniqueVals(l):
  m = {}
  for ele in l:
    if m.has_key(ele):
      m[ele].append(m[ele] + 1)
    else:
      m[ele].append(1)







a = uniqueVals(r)
a

[1]

In [ ]:
a

[0, 1, 2]

Implement a Function to Merge and Sort Multiple Lists

Develop a function 'merge_and_sort_lists' that takes an arbitrary number of lists as arguments, merges them into a single list, and then sorts the merged list before returning it.

In [ ]:
def sortList(l):
  for i in range len(l):
    for j in range len(l):



def merge_and_sort_lists(*args):
  totList = []
  ## store concatenated lists into a combined list totList
  for lst in args:
    totList.extend(lst)

  ## sorting
  print(totList)

In [ ]:
merge_and_sort_lists([1,2],[3,4],[5,6])

[1, 2, 3, 4, 5, 6]

file io(read write), try-except, file import, regex, recursion, coding standards... etc.